html, body {
	margin: 0;
	padding: 0;

	height: 100%;
	overflow: hidden;

	font-family: 'Lato';
	font-size: 2vh;
}

#div-game {
	display: none;
}
#div-game div {
	position: absolute;
}
.ui {
	margin: 6px 12px 6px 12px;
}
#div-canvas {
	margin: 0;
	padding: 0;
}

#stats {
	right: 0;
	font-size: 0.8em;
}

#div-messages {
	height: 200px;

	left: 0;
	bottom: 0;
}

#messages {
	width: 20em;
	height: 8em;
	overflow-y: scroll;
	bottom: 1em;
}
#message-box {
	padding: 2px;
	margin: 0;
	font-size: 1em;
	border: none;
	resize: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.5);
}
#form-send-message {
	display: none;
	bottom: 0;
	position: absolute;
}

#people {
	left: 0;
	overflow-y: scroll;
}

.people-me {
	font-weight: bold;
}

#cursor {
	position: absolute;
	visibility: hidden;
}

#overlay {
	text-align:  center;

  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
}

.chat-hide {
	opacity: 0.7;
}

.message-name {
	font-weight: bold;
}

.resizable {
  min-height: 30px;
  min-width: 30px;
  resize: both;
  overflow: auto;
  max-height: fit-content;
  max-width: fit-content;
}
.no-select {
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
} 

.anim-blink {
  animation: blinker 0.7s linear 0s 2;
}
@keyframes blinker {
	50% {
		opacity: 0.5;
	}
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}