html, body {
	margin: 0;
	padding: 0;

	height: 100%;
	overflow: hidden;

	font-family: 'Lato';
	font-size: 2vh;
}

#debug {
	display: none;
}

#div-game {
	display: none;
}

#div-game div {
	position: absolute;
}
.ui {
	margin: 6px 12px 6px 12px;
}
#div-canvas {
	margin: 0;
	padding: 0;
}

#fps {
	right: 0;
}

#div-messages {
	height: 200px;

	left: 0;
	bottom: 0;
}

#messages {
	width: 24em;
	height: 12em;
	overflow-y: scroll;
}
#message-box {
	padding: 0;
	margin: 0;	
}
#form-send-message {
	display: none;
	bottom: 0;
	position: absolute;
}

#people {
	left: 0;
	overflow-y: scroll;
}

.people-me {
	font-weight: bold;
}

.chat-hide {
	opacity: 0.7;
}

.message-name {
	font-weight: bold;
}

.resizable {
  min-height: 30px;
  min-width: 30px;
  resize: both;
  overflow: auto;
  max-height: fit-content;
  max-width: fit-content;
}
.no-select {
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
} 

.anim-blink {
  animation: blinker 0.7s linear 0s 2;
}
@keyframes blinker {
	50% {
		opacity: 0.5;
	}
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}